.future-card-wrapper {
    background-color: #c6c6c6;
    height: 100%;
    width: 100%;

}

.future-card-title {
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.future-card-search-wrapper {
    display: flex;
    flex-direction: row;
    /* justify-content:flex-start; */
    /* align-items: center; */
}

.future-card-form {
    display: flex;
    justify-content: center;

    flex-grow: 1;
    gap: 10px;
}

.future-card_mat_form_field{
    width: 70%;
}

.searchable-toggle {
    display: flex;
    flex-direction: column;
    width: 30%;
}

mat-label {
    padding-bottom: 10px;
}

.future-card-rows-wrapper {
    height: 70%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.future-card-rows {
    min-width: 30%;
    max-width: 33.333%;
    min-height: 47%;
    display: flex;
    flex: 0 0 auto;
    align-items: center;
    justify-content: space-around;
}

.future-card-marathons {
    min-width: 90%;
}