<mat-card class="future-card-wrapper">

    <div class="future-card-title">
        <h2>Future Marathons</h2>
    </div>
<div class="future-card-rows-wrapper">
    <div class="future-card-rows" *ngFor="let marathon of futureMarathons">
        <!-- Name: {{ marathon.name }}, Location: {{ marathon.location }}, Date: {{marathon.date.toISOString().substring(0,10)}} -->
        <app-marathon-row-card class="future-card-marathons" [marathonData]="marathon"></app-marathon-row-card>
    </div>
</div>
</mat-card>