<div class="admin-pannel-wrapper">
    <h1>Admin Panel</h1>

    <div class="admin-pannel-filters-box">
        <form class="past-card-form">
            <mat-form-field class="past-card_mat_form_field">
                <mat-label>Search Marathons</mat-label>
                <input [(ngModel)]="searchString" matInput placeholder="Search..." name="past-search">
            </mat-form-field>
        </form>
        <div class="searchable-toggle">
            <mat-label>Sort by total disctance</mat-label>
            <mat-slide-toggle [(ngModel)]="shouldSort" class="example-margin" [color]="toggleOptions.color"
                [checked]="toggleOptions.checked" [disabled]="toggleOptions.disabled">
            </mat-slide-toggle>
        </div>
    </div>

    <mat-card class="admin-pannel-table-wrapper" *ngFor="let marathon of marathons.marathons">
        <div class="admin-pannel-table" (click)="openModal(marathon) ">
            <div class="admin-pannel-table-left">
                <div class="admin-pannel-table-name admin-panel-table-item">
                    {{marathon.name}}
                </div>
                <div class="admin-pannel-table-location admin-panel-table-item">
                    {{marathon.location}}
                </div>
                <div class="admin-pannel-table-date admin-panel-table-item">
                    {{marathon.date.toISOString().substring(0,10)}}
                </div>
            </div>
            <div class="admin-pannel-table-delete">
                <span><mat-icon (click)="deleteMarathon(marathon)">delete_forever</mat-icon></span>
            </div>
        </div>
    </mat-card>
</div>