.past-card-wrapper {
    background-color: #c6c6c6;
    height: 100%;
    width: 100%;

}

/* .past-card-marathons {
    display: flex;
    flex-direction: row;
    /* flex: 0 0 33.333%; */
    /* background-color: rebeccapurple; */
/* } */

.past-card-title {
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.past-card-rows-wrapper {
    height: 70%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.past-card-rows {
    width: 33.333%;
    display: flex;
    flex: 0 0 auto;
    align-items: center;
    justify-content: space-around;
}