.past-card-wrapper {
    background-color: rgb(198, 198, 198, 0.5);
    height: 100%;
    width: 100%;

}

.past-card-title {
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.past-card-search-wrapper {
    display: flex;
    flex-direction: row;
}

.past-card-form {
    display: flex;
    justify-content: center;

    flex-grow: 1;
    gap: 10px;
}

.past-card_mat_form_field {
    width: 70%;
}

.searchable-toggle {
    display: flex;
    flex-direction: column;
    width: 30%;
}

mat-label {
    padding-bottom: 10px;
}

.past-card-title {
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.past-card-rows-wrapper {
    height: 70%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    overflow-y: scroll;
}

.past-card-rows {
    min-width: 30%;
    max-width: 33.333%;
    min-height: 47%;
    display: flex;
    flex: 0 0 auto;
    align-items: center;
    justify-content: space-around;
}

.past-card-marathons {
    min-width: 90%;
}