<div class="admin-pannel-wrapper">
    <h1>Admin Panel</h1>
    <div class="admin-pannel-filters-box">
        <form class="admin-card-form">
            <mat-form-field class="admin-card_mat_form_field">
                <mat-label>Search Marathons</mat-label>
                <input [(ngModel)]="searchString" matInput placeholder="Search..."
                    class="admin-card_mat_form_field-search" name="admin-search">
            </mat-form-field>
        </form>
        <div class="searchable-toggle">
            <mat-label>Sort by total disctance</mat-label>
            <mat-slide-toggle [(ngModel)]="shouldSort" class="example-margin" [color]="toggleOptions.color"
                [checked]="toggleOptions.checked" [disabled]="toggleOptions.disabled">
            </mat-slide-toggle>
        </div>
        <button mat-fab [extended]="true" (closeModal)="closeModal($event)"
            (click)="AddMarathon(marathons.marathons)"><mat-icon>add</mat-icon> Add
            Marathon</button>
    </div>
    <div class="table-wrapper">
        <mat-card class="admin-pannel-table-card"
            *ngFor="let marathon of marathons.marathons | filter:searchString:shouldSort">
            <div class="admin-pannel-table" (click)="openModal(marathon) ">
                <div class="admin-pannel-table-left">
                    <div class="admin-pannel-table-name admin-panel-table-item">
                        {{marathon.name}}
                    </div>
                    <div class="admin-pannel-table-location admin-panel-table-item">
                        {{marathon.location}}
                    </div>
                    <div class="admin-pannel-table-date admin-panel-table-item">
                        {{marathon.date.toLocaleDateString('fr-FR')}}
                    </div>
                </div>
                <div class="admin-pannel-table-delete">
                    <span><mat-icon (click)="deleteMarathon(marathon)">delete_forever</mat-icon></span>
                </div>
            </div>
        </mat-card>
    </div>
</div>