<form [formGroup]="marathonForm" class="edit-create-main-class">
    <div class="table-modal-header">
        <h3 class="modal-title">Create/Edit Marathon</h3>
    </div>
    <div class="table-modal">
        <div class="table-modal-left">
            <mat-form-field class="input-full-width">
                <mat-label>Marathon Name</mat-label>
                <input formControlName="name" matInput [(ngModel)]="data.marathon.name" name="marathon-name">
            </mat-form-field>
            <mat-form-field class=" input-full-width">
                <mat-label>Marathon Location</mat-label>
                <input matInput name="marathon-location" formControlName="location" [(ngModel)]="data.marathon.location"
                    placeholder="" value="">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Date</mat-label>
                <input name="marathon-date" matInput formControlName="date" [(ngModel)]="data.marathon.date"
                    [min]="todayDate" [matDatepicker]="picker">
                <mat-hint>DD/MM/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>
        <div class="table-modal-right">
            <mat-form-field class="table-modal-right-description">
                <textarea matInput class="table-modal-right-description-textarea" formControlName="description"
                    [(ngModel)]="data.marathon.description" formControlName="description" name="marathon-description"
                    id="marathon-description" cols="" rows="">
                </textarea>
            </mat-form-field>
            <app-races-admin-panel-modal [racesForm]="racesForm" (addRaceControlEvent)="addRaceControl()"
                [races]="data.marathon.races"></app-races-admin-panel-modal>
        </div>
    </div>

    <div class="edit-create-finalisation-buttons">
        <button mat-raised-button (click)="Close()">Cancel</button>
        <button mat-raised-button [disabled]="!validForm" (click)="SaveMarathon()">Save</button>
    </div>
</form>