.edit-create-main-class {
    display: flex;
    flex-direction: column;
}

.table-modal-header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.modal-close-button {
    background-color: rgb(169, 72, 72);
    border-radius: 50%;
}

.table-modal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 900px;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-y: scroll;
    padding: 30px;
}

.table-modal::-webkit-scrollbar {
    display: none;
}

.table-modal-left {
    display: flex;
    flex-direction: column;
}

.input-full-width {
    width: auto;
}

.marathon-date {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.table-modal-right-description {
    width: 100%;
}

#marathon-description {
    height: 100px !important;
}

.table-modal-right-races {
    display: flex;
    flex-direction: column;
}

.table-modal-right-races-row {
    display: flex;
    gap: 20px;
}

.no-style-textarea {
    border: none;
    outline: none;
    background: transparent;
    resize: none;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    padding: 0;
    margin: 0;
    overflow: auto;
    width: auto;
    height: auto;
}

.edit-create-finalisation-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10%;
    padding-bottom: 30px;
}