.main-wrapper {
    display: flex;
    flex-direction: row;
    overflow-y: auto;
    height: 100%;
    /* margin: 5px; */
    justify-content: space-between;
    gap: 5px;
}

.feature-card {
    height: 100%;
    width: 100%;
}