.header-wrapper {
    padding: 15px;
    background-color: #c6c6c6;
    margin: 5px;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
}

img {
    background-color: transparent;
    height: 40px;
    width: 40px;
}