.modal-card-wrapper {
    padding: 15px;
    background-color: rgb(230, 229, 227);
}

.modal-title {
    font-weight: bolder;
    margin-bottom: 20px;
}

.modal-card-description {
    font-weight: 300;
    margin-bottom: 20px;
    transition: all 0.3s ease;
    height: fit-content;
}

.modal-card-description.text-view {
    padding: 10px;
    border: 1px solid transparent;
}

.modal-card-description.input-view {
    padding: 10px;
    width: 100%;
    height: max-content;
    box-sizing: border-box;
    border: 1px solid #af6b6b;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    background-color: #af6b6ba9;
    border-radius: 5px;
    overflow: hidden;
    opacity: 70%;
}

.modal-card-info-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.modal-card-info {
    display: flex;
    flex-direction: column;
}

.modal-card-race-km {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
}

.modal-card-date {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
}

.races-1 {
    justify-content: center;
}

.races-2 {
    justify-content: space-between;
}

.races-3 {
    justify-content: space-around;
}

.races-4 {
    justify-content: space-between;
    flex-wrap: wrap;
}

.modal-card-info {
    flex: 1;
    margin: 10px;
}