<mat-card>
    <div class="modal-card-wrapper">
        <div class="modal-title">
            {{data.marathon.name}}
        </div>
        <div class="modal-card-description text-view" *ngIf="!isEditingDescription" (click)="isEditingDescription = true">
            {{data.marathon.description}}
        </div>
        <div  *ngIf="isEditingDescription">
            Editing...
        </div>
        <textarea  *ngIf="isEditingDescription" class="modal-card-description input-view" [(ngModel)]="data.marathon.description" (blur)="isEditingDescription = false"></textarea>
        <div>
            Available races in this marathon:
        </div>
        <div class="modal-card-info-wrapper" [class]="getRaceClass(data.marathon.races.length)" >
            <div class="modal-card-info" *ngFor="let race of data.marathon.races">
                <div class="modal-card-race-km">
                    <span><mat-icon>directions_run</mat-icon></span> {{race.distance}}km
                </div>
                <div class="modal-card-date">
                    <span><mat-icon>calendar_today</mat-icon></span> {{race.date.toISOString().substring(0,10)}}
                </div>
            </div>
        </div>
    </div>
</mat-card>