.modal-card-wrapper{
    padding: 15px;
    background-color: antiquewhite;
}

.modal-title{
    font-weight: bolder;
    margin-bottom: 20px;
}

.modal-card-description{
 font-weight: 300;
 margin-bottom: 20px;
 transition: all 0.3s ease;
 height: fit-content;
}

.modal-card-description.text-view {
    /* Styles for the text view */
    padding: 10px; /* Example padding */
    border: 1px solid transparent; /* Invisible border to match height */
    /* Other styles to match your design (font, color, etc.) */
}

.modal-card-description.input-view {
    /* Styles for the input view */
    padding: 10px; /* Same padding as text view */
    border: 1px solid #ccc; /* Visible border for input */
    width: 100%; /* Full width */
    box-sizing: border-box; /* Include padding and border in width */
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    background-color: inherit;
    /* Other matching styles (font, color, etc.) */
}

.modal-card-info-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.modal-card-info{
    display: flex;
    flex-direction: column;
}   

.modal-card-race-km{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
}

.modal-card-date{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
}

.one-race {
    justify-content: center;
}

.two-races {
    justify-content: space-between;
}

.three-races {
    justify-content: space-around;
}

.four-or-more-races {
    justify-content: space-between;
    flex-wrap: wrap;
}

.modal-card-info {
    flex: 1; /* This ensures that the boxes take equal width */
    margin: 10px; /* Optional: for spacing between boxes in wrap */
}

