.home-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.home-image {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow-y: hidden;
    z-index: -1000;
}

.app-main-body {
    height: 100%;
}

.router-outlet-div {
    height: 100%;
    margin: 5px;
}